[submodule "chat-ui"]
	path = chat-ui
	url = https://github.com/huggingface/chat-ui
[submodule "deep-searcher"]
	path = deep-searcher
	url = https://github.com/zilliztech/deep-searcher.git
[submodule "node-deepresearch"]
	path = node-deepresearch
	url = https://github.com/dzhng/deep-research.git
[submodule "OpenManus"]
	path = OpenManus
	url = https://github.com/mannaandpoem/OpenManus.git
